* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section-ind {
    height: 100vh;
    background: linear-gradient(to top, #0b1f33, #2f6fa3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.divimg {
    width: 50%;
    height: 100%;
    mix-blend-mode: screen;
    background-image: url(../images/WhatsApp\ Image\ 2026-01-14\ at\ 17.00.14.jpeg);
    background-position: center center;
    position: relative;

}

.divimg h2 {
    color: aliceblue;
    z-index: 10;
    position: absolute;
    bottom: 190px;
    left: 40vh;
    border-top: 2px solid white;

}

.divbutton {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
     animation: glow 1.5s infinite alternate;

}

.divbutton button {
    width: 600px;
    height: 50px;
    border-radius: 20px;
    background: linear-gradient(to bottom, #0b1f33, #2f6fa3);
    text-align: center;
    border: #0b1f33;
         animation: glow 1.5s infinite alternate;

}

button a {
    color: aliceblue;
    font-weight: bold;
    text-decoration: none;

}

button a:hover {
    color: #2f6fa3;
    transition: 0.5s;
}

.divbutton button:hover {
    background: #0b1f33;
    transform: translateY(10px);
}

/* ????????????????????? game ??????????????????????????????????????????????? */
.containerGame {
    height: 100vh;
    background: linear-gradient(to top, #0b1f33, #2f6fa3);
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.firstPart {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

/* hada player ana */
.firstLeft {
    width: 200px;
    height: 80px;
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(to top, #0b1f33, #2f6fa3);
    border: 1px #6cdaf3 solid;



}

/* hada div dyal img */
.playerimag {
    width: 40%;
    height: 90%;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.playerimag img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: #62bfd4 1px solid;
}

.PlayerInformation {
    width: 60%;
    height: 90%;
}

/* hada robo */
.firstRight {
    width: 200px;
    height: 80px;
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(to top, #0b1f33, #2f6fa3);
    border: 1px #6cdaf3 solid;
}

.PlayerInformation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.divtype {
    color: #6cdaf3;
    font-size: large;
    font-weight: bold;
}

.divname {
    color: #77cde0;
    font-size: large;
    transition: 0.9s;
}

/* game */
.secoundPart {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerplay {
    width: 50%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid #77cde0;
    animation: glow 1.5s infinite alternate;
    

}
@keyframes glow {
  from {
    box-shadow: 0 0 5px #6cdaf3;
  }
  to {
    box-shadow:
      0 0 10px #6cdaf3,
      0 0 20px #6cdaf3,
      0 0 30px #6cdaf3;
  }
}

.row1 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.row2 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.row3 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.r1,
.r2,
.r3,.r4,.r5,.r6,.r7,.r8,.r9 {
    background-color: #2B6694;
    border: #6cdaf3 1px solid;
}
 /* {
  width: 200px;
  height: 120px;
  border: 2px solid #6cdaf3;
  border-radius: 10px;
  animation: glow 1.5s infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 5px #6cdaf3;
  }
  to {
    box-shadow:
      0 0 10px #6cdaf3,
      0 0 20px #6cdaf3,
      0 0 30px #6cdaf3;
  }
} */


/* kkkkkkkkkkkkkkkkkkk */
.thirdPart {
    width: 100%;
    height: 20%;
    background-color: rgb(14, 107, 107);
}