*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section-ind{
    height: 100vh;
    background: linear-gradient(to top, #0b1f33, #2f6fa3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.divimg{
    width: 50%;
    height: 100%;
     mix-blend-mode: screen;
     background-image: url(../images/WhatsApp\ Image\ 2026-01-14\ at\ 17.00.14.jpeg);
     background-position: center center;

}
.divbutton{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.divbutton button {
    width: 600px;
    height: 50px;
    border-radius: 20px;
    background: linear-gradient(to bottom, #0b1f33, #2f6fa3);
    text-align: center;
    border: #0b1f33;
}
button a{
    color: aliceblue;
        font-weight: bold;
        text-decoration: none;

}
button a:hover{
        color: #2f6fa3;
        transition: 0.5s;
}
.divbutton button:hover{
    background: #0b1f33;
    transform: translateY( 10px);
}

